.jumbotron{
    background-image: url('https://source.unsplash.com/1000x200/?hightech');
    background-size: cover;
    background-repeat: no-repeat;
    min-height:500px !important;
} 

.mySection{
    background-color:#F5F5F5;
    border-top:5px solid royalblue;
}